In [2]:
import sys
import os

sys.path.append(os.path.dirname(os.getcwd()))

In [3]:
import pandas as pd

from src.utils.logger import logger

In [4]:
dataset = 'electronics'

In [8]:
df = pd.read_csv('../data/{}.csv'.format(dataset), error_bad_lines=False, warn_bad_lines=True, 
                 dtype={'title': 'str', 'brand': 'str'})
logger.info('DF shape: {}'.format(df.shape))

2019-12-05 12:31:14,869 - DF shape: (498196, 9)

In [9]:
df.brand.value_counts()

Unknown             3402
Sony                2164
HP                  2156
Neewer              2005
Generic             1865
                    ...
Rite In The Rain       1
VIVITAR                1
Pengaz                 1
MyStudio               1
MARC JACOBS            1
Name: brand, Length: 9993, dtype: int64

In [9]:
META_COLS = ['asin', 'categories', 'title', 'description', 'price']

In [13]:
df = df[META_COLS].copy()

In [14]:
df['categories'] = df['categories'].apply(eval)

In [17]:
# Get first category
df['categories'] = df['categories'].apply(lambda x: x[0])

In [20]:
def get_category_lvl(category_list, lvl=0):
    try:
        return category_list[lvl]
    except IndexError:
        return 'NA_VALUE'

In [25]:
df['category_lvl_1'] = df['categories'].apply(get_category_lvl, args=(0, ))
df['category_lvl_2'] = df['categories'].apply(get_category_lvl, args=(1, ))
df['category_lvl_3'] = df['categories'].apply(get_category_lvl, args=(2, ))
df['category_lvl_4'] = df['categories'].apply(get_category_lvl, args=(3, ))

In [26]:
df

,asin,categories,title,description,price,category_lvl_1,category_lvl_2,category_lvl_3,category_lvl_4
0,0001048791,[Books],"The Crucible: Performed by Stuart Pankin, Jero...",NaN,NaN,Books,NA_VALUE,NA_VALUE,NA_VALUE
1,0001048775,[Books],Measure for Measure: Complete &amp; Unabridged,William Shakespeare is widely regarded as the ...,NaN,Books,NA_VALUE,NA_VALUE,NA_VALUE
2,0001048236,[Books],The Sherlock Holmes Audio Collection,"&#34;One thing is certain, Sherlockians, put a...",9.26,Books,NA_VALUE,NA_VALUE,NA_VALUE
3,0000401048,[Books],The rogue of publishers' row;: Confessions of ...,NaN,NaN,Books,NA_VALUE,NA_VALUE,NA_VALUE
4,0001019880,[Books],Classic Soul Winner's New Testament Bible,NaN,5.39,Books,NA_VALUE,NA_VALUE,NA_VALUE
...,...,...,...,...,...,...,...,...,...
2370580,B00M111QCM,"[Books, Business & Money, Industries & Profess...",NaN,NaN,NaN,Books,Business & Money,Industries & Professions,Human Resources & Personnel Management
2370581,B00M0AEPXG,"[Books, Politics & Social Sciences, Women's St...",NaN,NaN,NaN,Books,Politics & Social Sciences,Women's Studies,NA_VALUE
2370582,B00LZFHL7Y,"[Books, Literature & Fiction, Erotica]",NaN,NaN,0.99,Books,Literature & Fiction,Erotica,NA_VALUE
2370583,B00LV8M74W,"[Books, Literature & Fiction, Genre Fiction, M...",NaN,NaN,3.99,Books,Literature & Fiction,Genre Fiction,Medical
2370584,B00LV8STE4,"[Books, Arts & Photography, Music, Musical Gen...",NaN,NaN,NaN,Books,Arts & Photography,Music,Musical Genres